<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Join us</title>

    <!-- Bootstrap core CSS -->
    <link href="/jsmi/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background:rgba(0,0,0,0.7);
}

.form-signin {
  max-width: 630px;
  padding-top:0%;
  padding: 3%;
  margin: 0 auto;
  margin-top:0%;
  background-color: #eee;
  box-shadow:7px 10px 5px black;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-control {
	margin-top:10px;
	height:80%;
}
#joinbtn {
	margin-top:5px;
}

.btn-danger {
	float:right;
		
}
textarea {
	min-width:100%;
	max-width:100%;
	min-height:120px;
	max-height:120px;
}
.close {
	position:relative;
	top:-20px;
	left:20px;
}
</style>
  </head>


  <body>

    <div class="container">
      <form class="form-signin">
      	<button type="button" class="btn close" onclick="location.href='/jsmi/main.jsp'">X닫기</button><br>
        <h2 class="form-signin-heading" align="center">약관동의</h2><br>
        	<textarea  style="width:100%;height:120px;" readonly>
				제 1 장 총칙

제 1 조 (목적)
본 약관은 절세미인 홈페이지가 제공하는 모든 서비스(이하 "서비스")의 이용조건 및 절차,이용자와 절세미인 홈페이지의 권리, 의무, 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.


제 2 조 (약관의 효력과 변경)
1. 절세미인 홈페이지는 귀하가 본 약관 내용에 동의하는 경우, 절세미인 홈페이지의 서비스 제공 행위 및 귀하의 서비스 사용 행위에 본 약관이 우선적으로 적용 됩니다.
2. 절세미인 홈페이지는 본 약관을 사전 고지 없이 변경할 수 있고, 변경된 약관은 절세미인 홈페이지 내에 공지하거나 e-mail을 통해 회원에게 공지하며, 공지와 동시에 그 효력이 발생됩니다. 이용자가 변경된 약관에 동의하지 않는 경우, 이용자는 본인의 회원등록을 취소(회원탈퇴)할 수 있으며 계속 사용의 경우는 약관 변경에 대한 동의로 간주됩니다. 


제 3 조 (약관 외 준칙)
1. 본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신윤리위원회 심의규정, 정보통신 윤리강령, 프로그램보호법, 관련 법령 및 절세미인도청 인터넷설치및 운영에 관한 조례에 따릅니다.



제 4 조 (용어의 정의)
본 약관에서 사용하는 용어의 정의는 다음과 같습니다. 
1. 이용자 : 본 약관에 따라 절세미인 홈페이지가 제공하는 서비스를 받는 자.
2. 가입 : 절세미인 홈페이지가 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 완료시키는 행위. 
3. 회원 : 절세미인 홈페이지에 개인 정보를 제공하여 회원 등록을 한 자로서 절세미인 홈페이지가 제공하는 서비스를 이용할 수 있는 자.
4. 비밀번호 : 이용자와 회원ID가 일치하는지를 확인하고 통신상의 자신의 비밀 보호를 위하여 이용자 자신이 선정한 문자와 숫자의 조합. 
5. 탈퇴 : 회원이 이용계약을 종료시키는 행위. 


제 2 장 서비스 제공 및 이용


제 5 조 (이용계약의 성립)
1. 이용계약은 신청자가 온라인으로 절세미인 홈페이지에서 제공하는 소정의 가입신청 양식에서 요구하는 사항을 기록하여 가입을 완료하는 것으로 성립됩니다.

2. 절세미인 홈페이지는 다음 각 호에 해당하는 이용계약에 대하여는 가입을 취소할 수있습니다.

1) 다른 사람의 명의를 사용하여 신청하였을 때
2) 이용계약 신청서의 내용을 허위로 기재하였거나 신청하였을 때 
3) 다른 사람의 절세미인 홈페이지 서비스 이용을 방해하거나 그 정보를 도용하는 등의 행위를 하였을 때 
4) 절세미인 홈페이지를 이용하여 법령과 본 약관이 금지하는 행위를 하는 경우 
5) 기타 절세미인 홈페이지가 정한 이용신청요건이 미비 되었을 때 


제 6 조 (회원정보 사용에 대한 동의)

1. 회원의 개인정보는 공공기관의 개인정보보호에 관한 법률에 의해 보호됩니다.

2. 절세미인 홈페이지의 회원 정보는 다음과 같이 사용, 관리, 보호됩니다. 

1) 개인정보의 사용 : 절세미인 홈페이지는 서비스 제공과 관련해서 수집된회원의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우 또는 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우, 귀하가 절세미인 홈페이지에 제공한 개인정보를 스스로 공개한 경우에는 그러하지 않습니다.

2) 개인정보의 관리 : 귀하는 개인정보의 보호 및 관리를 위하여 서비스의 개인정보관리에서 수시로 귀하의 개인정보를 수정/삭제할 수 있습니다. 

3) 개인정보의 보호 : 귀하의 개인정보는 오직 귀하만이 열람/수정/삭제 할 수 있으며, 이는 전적으로 귀하의 ID와 비밀번호에 의해 관리되고 있습니다. 
따라서 타인에게 본인의 ID와 비밀번호를 알려주어서는 안되며, 작업 종료시에는  반드시 로그아웃 해주시기 바랍니다.

3. 회원이 본 약관에 따라 이용신청을 하는 것은, 절세미인 홈페이지가 신청서에 기재된  회원정보를 수집, 이용하는 것에 동의하는 것으로 간주됩니다. 

제 7 조 (사용자의 정보 보안)

1. 가입 신청자가 절세미인 홈페이지 서비스 가입 절차를 완료하는 순간부터 귀하는 입력한 정보의 비밀을 유지할 책임이 있으며, 회원의 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다. 

2. ID와 비밀번호에 관한 모든 관리의 책임은 회원에게 있으며, 회원의 ID나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우에는 즉시 절세미인 홈페이지에 신고하여야 합니다. 신고를 하지 않음으로 인한 모든 책임은 회원 본인에게 있습니다. 

3. 이용자는 절세미인 홈페이지 서비스의 사용 종료시 마다 정확히 접속을 종료해야 하며, 정확히 종료하지 아니함으로써 제3자가 귀하에 관한 정보를 이용하게되는 등의 결과로 인해 발생하는 손해 및 손실에 대하여 절세미인 홈페이지는 책임을 부담하지 아니합니다. 

제 8 조 (서비스의 중지)

1. 절세미인 홈페이지는 이용자가 본 약관의 내용에 위배되는 행동을 한 경우, 임의로  서비스 사용을 제한 및 중지할 수 있습니다. 

제 9 조 (서비스의 변경 및 해지)

1. 절세미인 홈페이지는 귀하가 서비스를 이용하여 기대하는 손익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않으며, 회원이 본 서비스에 게재한  정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다. 

2. 절세미인 홈페이지는 서비스 이용과 관련하여 가입자에게 발생한 손해 중 가입자의 고의, 과실에 의한 손해에 대하여 책임을 부담하지 아니합니다. 

3. 절세미인 홈페이지는 장기 비로그인 고객으로 인한 메일공간 낭비를 줄이기 위해서 휴면계정 관리 정책을 실시합니다.회원 가입 후 3개월 동안 메일 등 부가서비스에 로그인을 하지 않으면 해당 서비스의 이용을 정지하고 이후 3개월 동안(총 6개월동안) 로그인을 하지 않으면 고객의 이용자격을 상실시킬 수 있으며 보관된 모든 데이터는 삭제 처리됩니다.

4.절세미인 홈페이지는 회원의 개인정보 보유를 다음 각 호와 같이 실시합니다.
1) 회원의 개인정보 보유를 2년을 원칙으로 합니다.
2) 절세미인는 각 회원에게 가입후 2년후 개인정보 보유 연장 동의를 이메일 등을 통해 받을 수 있으며, 회신이 없는 경우에는 동의 하지 않는 것으로 처리합니다.
3) 위의 동의여부를 바탕으로 비동의시에는 회원정보를 즉시 삭제합니다.

제 10 조 (게시물의 저작권)

1. 귀하가 게시한 게시물의 내용에 대한 권리는 귀하에게 있습니다. 

2. 절세미인 홈페이지는 게시된 내용을 사전 통지 없이 편집, 이동할 수 있는 권리를 보유하며, 게시판운영원칙에 따라 사전 통지 없이 삭제할 수 있습니다. 

3. 귀하의 게시물이 타인의 저작권을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 귀하가 부담하여야 합니다. 

제 3 장 의무 및 책임

제 11 조 (절세미인 홈페이지의 의무)

1. 절세미인 홈페이지는 회원의 개인 신상 정보를 본인의 승낙없이 타인에게 누설, 배포하지 않습니다. 다만, 전기통신관련법령 등 관계법령에 의하여 관계 국가기관 등의 요구가 있는 경우에는 그러하지 아니합니다.

제 12 조 (회원의 의무)

1. 회원 가입시에 요구되는 정보는 정확하게 기입하여야 합니다. 또한 이미 제공된 귀하에 대한 정보가 정확한 정보가 되도록 유지, 갱신하여야 하며, 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.

2. 회원은 절세미인 홈페이지의 사전 승낙 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다. 

제 4 장 기타

제 13 조 (양도금지)

1. 회원이 서비스의 이용권한, 기타 이용계약 상 지위를 타인에게 양도, 증여할 수 없습니다. 


제 14 조 (손해배상)

1. 절세미인 홈페이지는 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 절세미인 홈페이지가 고의로 행한 범죄행위를 제외하고 이에 대하여 책임을 부담하지 아니합니다. 

제 15 조 (면책조항)

1. 절세미인 홈페이지는 회원이나 제3자에 의해 표출된 의견을 승인하거나 반대하거나 수정하지 않습니다. 절세미인 홈페이지는 어떠한 경우라도 회원이 서비스에 담긴 정보에 의존해 얻은 이득이나 입은 손해에 대해 책임이 없습니다. 

2. 절세미인 홈페이지는 회원간 또는 회원과 제3자간에 서비스를 매개로 하여 물품거래 혹은 금전적 거래 등과 관련하여 어떠한 책임도 부담하지 아니하고, 회원이 서비스의 이용과 관련하여 기대하는 이익에 관하여 책임을 부담하지 않습니다. 

제 16 조 (재판관할)

1. 절세미인 홈페이지와 이용자간에 발생한 서비스 이용에 관한 분쟁에 대하여는 대한민국법을 적용하며, 본 분쟁으로 인한 소는 대구지방법원본원에 제기합니다.

부 칙 1. (시행일) 본 약관은 2004년 6월 1일부터 시행됩니다. 


-----------------------------------------------------------------------------

* 절세미인인터넷시스템설치및운영에관한조례
제정 2003. 5. 1 조례 제2770호
개정 2005.4. 14 조례 제2867호


제1장 총   칙  

제1조(목적)  이 조례는 절세미인 인터넷 이용자에게 질높은 서비스를 제공하고 지역정보화를 촉진하기 위하여 필요한 사항을 규정함을 목적으로 한다.


제2조(정의)  이 조례에서 사용되는 용어의 정의는 다음과 같다.
1. 인터넷 이라 함은 전 세계적으로 상호 접속되어 이용자간에 다양한 정보를 주고 받을 수 있는 정보통신망을 말한다.
2. 인터넷시스템 이라 함은 인터넷 운영을 위해 구축한 하드웨어,소프트웨어, 데이터베이스, 네트워크, 보안시스템 등을 총칭한다.
3. 홈페이지 라 함은 이용자에게 인터넷서비스를 제공하기 위하여 구축한 인터넷 활용 공간을 말한다.
4. 전자민원 이라 함은 민원사무처리에관한법률 제2조 및 절세미인가 특별히 규정한 민원사무중 홈페이지를 통하여 접수하거 나 처리되는 민원을 말한다.
5. 개인정보 라 함은 공공기관의개인정보보호에관한법률 제2조제2호의 규정에 의한 정보를 말한다.
6. 비밀번호 라 함은 홈페이지 이용자 및 자료관리담당자 등이 인터넷시스템에 접속권한 인증 여부를 검사하기 위하여 사용하는 문자열을 말한다.
7. 전자민원창구 라 함은 전자정부구현을위한행정업무등의전자화촉진에관한 법률에 의한 전자민원창구를 말한다


제2장 인터넷시스템 구축 및 홈페이지 운영관리  

제3조(인터넷시스템 구축·운영) 
① 도지사는 이용자에게 양질의 서비스를 제공하기 위하여 인터넷시스템을 구축하고 홈페이지를 통해 이용자에게 인터넷서비스를 제공한다.
② 홈페이지는 다음 각 호의 기능을 포함하여 구성한다.
1. 절세미인가 관리하는 주요시책, 업무 추진현황 등 행정정보 제공
2. 지역주민과 관련된 생활·산업·관광·문화 등 지역정보 제공
3. 전자민원창구 운영
4. 도지사와의 대화방 및 게시판 운영 등 주민의 참여유도
5. 전자우편 ID 이용
6. 국내·외에 절세미인의 홍보
7. 기타 지역주민의 삶의 질과 알권리 향상을 위하여 도지사가 필요하다고 인정되는 정보제공 등
③ 인터넷시스템의 효율적 운영을 위하여 도지사는 인터넷시스템운영 주관부서, 홈페이지 관리부서, 홈페이지 분야별 담당부서를 지정·운영하여야 하며, 필요시 외부전문기관에 개발·유지보수 및 운영을 위탁관리할 수 있다.
④ 인터넷시스템은 1일 24시간 운영을 원칙으로 하며 이를 위해 정보통신담당관은 인터넷시스템이 정상적으로 운영될 수 있도록 보안 및 유지관리 등에 대한 대책을 수립하여야 한다.


제4조(인터넷시스템 개선)  정보화업무 담당과장은 인터넷시스템의 개선을 위하여 연 1회 이상 이용자들의 의견을 수렴하여 반영하는 등 지속적으로 노력하여야 한다. 
<개정05.4.14>


제5조(홈페이지 정보관리)
① 정보화업무 담당과장은 홈페이지에 게시된 정보가 항상 최신의 상태를 유지하도록 총괄·관리하여야 한다.
② 정보화업무 담당과장 및 홈페이지 분야별 담당부서장은 항상 최신의 정보를 게시 하여야 하며 정보제공시 정보제공자와 담당부서명 등을 제공하여 이용자가 자세한 정보를 직접 제공받을 수 있도록 여건을 조성하여야 한다.
<개정05.4.14>


제6조(홈페이지 게시자료 관리)  
① 정보화업무 담당과장 홈페이지 게시자료에 대하여 분야별 또는 게시물별로 게시 기간을 정하여 운영할 수 있으며 그 경우에는 홈페이지에 게시기간을 게재하여야 한다.
② 정보화업무 담당과장은 홈페이지의 건전한 운영을 위하여 이용자가 게시한  자료 중 다음 각호의 1에 해당하는 자료는 삭제할 수 있다. 다만, 이 경우 필요시 삭제한 이유를 해당게시판에 공개하거나 게시한  자의 전화번호나 전자우편 주소가 명확할 경우에는 당사자에게 삭제한 이유를 통지할 수 있다.
1. 국가안전이나 보안에 위배되는 경우
2. 정치적 목적이나 성향이 있는 경우
3. 특정기관, 단체, 부서를 근거없이 비난하는 경우
4. 특정인을 비방하거나 명예훼손의 우려가 있는 경우
5. 영리목적의 상업성 광고, 저작권을 침해할 수 있는 내용
6. 욕설, 음란물 등 불건전한 내용
7. 실명을 원칙으로 하는 경우에 실명을 사용하지 않았거나 실명이 아닌 것으로 판단되었을 경우
8. 동일인 또는 동일인이라고 인정되는 자가 똑같은 내용을 주 2회이상 게시하거나 비슷한 내용을 1일 2회이상 게시하는 경우
9. 기타 연습성, 오류, 장난성의 내용 등


제7조(홈페이지 자료제공) 도지사는 홈페이지에 수록한 정보에 대하여 이용자가 정보제공을 요청할 경우 비영리목적 여부 등을 판단하여 제공할 수 있다. 다만, 개인정보가 포함된 자료는 그러하지 아니한다.


제3장 홈페이지를 통한 전자민원창구 운영  

제8조(전자민원창구 설치·운영)
① 도지사는 전자민원을 처리할 수 있도록 민원사무처리에관한법률시행령 제2조제5항에 의한 전자민원 창구를 설치하여야 하며 전자민원창구에 접수한 민원은 민원사무처리에 관한법률에 따라 처리하여야 한다.
② 전자민원창구는 인터넷 민원처리, 민원처리 공개, 민원상담 기능을 제공하여야하며 민원사무처리에관한법률 제11조에 의해 설치된 민원실에서 총괄·관리하되, 민원처리 공개는 감사관실에서 관리할 수 있다.
③ 민원실장은 도지사가 처리할 수 있는 민원사무에 대한 민원사무처리기준표를 홈페이지를 통하여 게재할 수 있다.


제9조(전자민원처리) 
① 전자적 민원신청서비스 대상민원은 본인의  확인(전자인증 또는 찾을 때 본인확인이 가능한 경우 포함)과 첨부 서류가 필요 없는 민원에 한하며 민원의 종류, 민원별 처리비용 및 처리기간 등을 홈페이지 등에 게재하여야 한다.
② 전자민원창구의 인터넷민원접수는 발급수수료, 우송료 등 게재된 처리비용을 민원신청시의 수수료 납부정보를 통해 납부사실이 확인되거나 도지사가 관리하는 은행계좌 등에 입금이 확인된  이후에 성립한다.


제10조(민원처리 공개)
① 도지사는 공개대상민원을 선정하여 홈페이지에 게재하여야 한다. 
② 공개대상민원에 대하여는 접수에서 처리결과까지의 전과정을 전자민원창구에 공개하여야 한다. 다만, 민원인이 공개를 원하지 않을 경우에는 그러하지 아니한다.
③ 공개되는 정보의 내용은 개인정보보호를 위해 민원인 본인과 그 이외의 자에 따라 다르게 적용할 수 있으며 이를 위해 민원인은 민원신청시 비밀번호를 신청할 수 있다.
④ 민원인은 신청한 비밀번호가 노출되지 않도록 하여야 하고 비밀번호가 노출되었을 때에는 민원처리기관에 변경을 요구할 수 있으며 이 경우 담당부서의 장은 본인임을 확인 후 지체없이 변경에 응하여야 한다.


제11조(민원상담기능 제공) 
① 도지사는 민원인이 요청한 각종 건의 및 요구사항을 처리하기 위하여 전자 민원창구에 민원상담 기능을 제공하여야 하며 이를 위하여 민원분야별로 민원상담관을 지정·운영할 수 있다.
② 전자민원창구를 이용한 민원상담내용은 원칙적으로 공개하되 민원인이 비공개를 요구할 때에는 그러하지 아니한다. 


제4장 홈페이지를 통한 주민참여  

제12조(도지사와의 대화방 운영) 
① 도지사는 홈페이지를 통해 이용자의 참여 등 열린행정 구현과 이용자와 의견교환을 하기 위해 도지사와의 대화방을 운영하여야 한다.
② 도지사와의 대화방은 공개 또는 비공개로 운영할 수 있으며 이용자의 의견에 대해 답변이 필요하다고 판단될 때에는 민원사무처리에관한법률에 의한 민원 사무에 준하여 접수·처리하여야 한다.


제13조(홈페이지 참여마당 운영) 도지사는 이용자들이 자유롭게 의견을 제시하고 교환할 수 있도록 홈페이지에 참여마당을 운영하여야 한다.


제5장 전자우편 ID 보급  

제14조(공무원에 대한 전자우편 ID 보급) 도지사는 행정능률 향상과 효율적인 민원처리를 위하여 소속 공무원에게 전자우편 ID를 보급 하여야 하며 그 이용을 활성화하여야 한다.


제15조(지역주민 등에 대한 전자우편 ID 보급) 
① 도지사는 지역 정보화 활성화와 효율적인 민원서비스를 제공하기 위하여 지역주민에게 전자우편 ID를 보급할 수 있으며 보급 및 운영방법은 도지사가 정한다.

② 도지사는 전자우편 ID보급·운영에 관한 사항을 홈페이지에 게재하고 보급 받은 주민은 게재한 내용을 준수함으로써 사용할 권한을 가진다.  


제6장 외국어홈페이지 운영  

제16조(외국어홈페이지 설치·운영) 
① 도지사는 국외에 절세미인를 홍보하기 위하여 외국어홈페이지를 운영하여야 하며 홍보효과가 큰 영어홈페이지를 우선하여 설치·운영할 수 있다.
② 외국어홈페이지는 국제협력, 교류, 관광유치, 통상정보를 제공하고 이용자와 의견을 교환할 수 있도록 구성하여야 한다.
③ 도지사는 외국어홈페이지의 효율적인 운영을 위하여 담당부서를 지정·관리하여야 하며 외부전문기관에 개발·유지보수 및 운영을 위탁관리할 수 있다.


제7장 개인정보보호 및 보안관리  

제17조(개인정보보호) 
① 도지사는 인터넷시스템을 통해 개인정보가 타인에게 노출되지 않도록 하여야 한다.
② 인터넷시스템에 수록되어 있는 개인정보 DB는 암호화하여 저장하여야 한다.


제18조(시스템 안전대책)  
① 정보화업무 담당과장은 인터넷시스템을 보호하기 위하여 안전대책을 강구하여야한다. 
② 정보화업무 담당과장은 정보의 손상 및 파괴 등 사고에 대비하여 매일 변동자료 및 매주 전체자료를 복사하여 별도의 안전한 장소에 보관 관리하여야 하며 사고발생시 신속한 복구가 가능하도록 조치하여야 한다.


제19조(비밀번호관리)  정보화업무 담당과장은 담당자의 비밀번호를 국가정보통신보안 관련규정에 의하여 관리하여야 한다.


		 부       칙
이 조례는 공포한 날부터 시행한다
		 부       칙 (2005.4.14)
이 조례는 공포한 날부터 시행한다
				
			</textarea>
       <input type="checkbox"> 약관에 동의합니다.
        
		<br><br>
		
		<textarea  style="width:100%;height:120px;" readonly>
		홈페이지 통합회원 서비스 개인정보 수집 및 이용에 대한 안내 (안) 

절세미인는 정보주체의 동의에 의해 개인정보를 수집·이용합니다.

정보주체는 개인정보의 수집·이용목적에 대한 동의를 거부할 수 있으며,   
동의 거부 시 절세미인 홈페이지에 회원가입이 되지 않으며,
절세미인 홈페이지에서 제공하는 서비스를 이용할 수 없습니다.

홈페이지 회원관리를 위해 수집·보유하고 있는 주요 개인정보 파일은 다음과 같습니다.

- 수집 및 이용목적 : 시 홈페이지 회원관리
- 개인정보 항목 : 성명, 생년월일, 이메일, 전화번호 등
- 보유 및 이용기간 : 회원가입 ~ 회원탈퇴(탈퇴 시 삭제)
- 정보주체의 권리 : 본인에 관한 개인정보 열람, 정정.삭제 청구권		
		
		
		</textarea>
		<input type="checkbox"> 약관에 동의합니다.<br><br>
        <button type="button" class="btn btn-lg btn-info btn-block" onclick="location.href='/jsmi/views/main1/member/memberjoinForm.jsp'">가입 계속</button>


      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>