<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
   $(function(){
	   $('#border1').mouseover(function(){
	  		$(this).css("background", "yellow");
	  	}).mouseout(function(){
	  		$(this).css("background", "green");
	  	})
	  	
	  	$('#border1').click(function(){
	  		console.log("aaa");
	  	})
   });
  	
  </script>
 <style>
   body{
        background: #01212d;
   }
   #border1,#border2,#border3,#border4,#border5,#border6,#border7,#border8 {
        border: 1px solid white;
   }
   
   p{
        font-family:google;
        font-size:0.8em;
   }
   
 </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-0 col-md-2" ></div>
    <div class="col-xs-12 col-md-8"  style="background:red;" ><img src="../../images/logo.png" class="img-responsive" style="border:1px solid white;"></div>
  <div class="col-xs-0 col-md-2" ></div>
  </div>
 
  <div class="row">
     <div class="col-xs-12 col-md-12"></div>
  </div>
  
  <div class="row">
  <div class="col-xs-0 col-md-2"></div>
  <div class="col-xs-12 col-md-8"  style="background:white; padding:15px;"><img src="../../images/slide.png" class="img-responsive" ></div>
  <div class="col-xs-0 col-md-2"></div>
</div>

<div class="row">
     <div class="col-xs-12 col-md-12"></div>
  </div>
  
  
  <div class="row">
  <div class="col-xs-0 col-md-2" ></div>
  <div class="col-xs-6 col-md-2"  style="background:#10aaff;" id="border1"><img src="../../images/info.png" class="img-responsive"></div>
  <div class="col-xs-6 col-md-2"  style="background:#105080;" id="border2"><img src="../../images/1.png" class="img-responsive"></div>
  <div class="col-xs-6 col-md-2"  style="background:#10aaff;" id="border3"><img src="../../images/function.png" class="img-responsive"></div>
  <div class="col-xs-6 col-md-2" style="background:#10aaff;" id="border4"><img src="../../images/event.png" class="img-responsive"></div>
  <div class="col-xs-0 col-md-2" ></div>
  </div>
  
  <div class="row">
  <div class="col-xs-0 col-md-2" ></div>
  <div class="col-xs-6 col-md-2"  style="background:#105080;" id="border5"><img src="../../images/1.png" class="img-responsive"></div>
  <div class="col-xs-6 col-md-2"  style="background:#10aaff;" id="border6"><img src="../../images/cost.png" class="img-responsive"></div>
  <div class="col-xs-6 col-md-2"  style="background:#10aaff;" id="border7"><img src="../../images/helpdesk.png" class="img-responsive"></div>
  <div class="col-xs-6 col-md-2" style="background:#105080;" id="border8"><img src="../../images/1.png" class="img-responsive"></div>
  <div class="col-xs-0 col-md-2" ></div>
</div>
</div>
<footer style="background: white;padding:10px;">
     
     <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
        <p>R&D사 서울시 구로구 구로3동 코오롱디지털타워빌란트2차 1405-1호 | 대표자 : 이종태
     TEL. 02 6925 0202 | FAX. 0303 0123 6389
    통신판매등록번호 : 제2013-서울구로-0669호 | 사업자등록번호 : 211-87-17024
    COPYRIGHTS (c) (주)성공닷컴 ALL RIGHTS RESERVED.</p></div>
        <div class="col-xs-0 col-md-2"></div>
     </div>
     
     
     
  
     
</footer>
</body>
</html>