<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/main2/common.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<style>
	footer {
		background:#333;
		color:white;
		font-family:google;
		height:20%;
		padding:15px;
	}
</style>
</head>
<body>
	<footer>
		<div class="row">
			<div class="col-xs-0 col-sm-2 col-md-2 col-lg-1"></div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
				<p>R&D사 서울특별시 강남구 역삼동 823-24 남도빌딩 2층, 3층   | 법인명 : (주)미인들  TEL. 02
					1234 5678 | FAX. 0303 0123 4567 통신판매등록번호 : 제2017-서울강남-0001호 |
					사업자등록번호 : 111-81-12345 COPYRIGHTS (c) (주)미인들 ALL RIGHTS RESERVED.</p>
			</div>
			<div class="col-xs-0 col-sm-2 col-md-2 col-lg-1"></div>
		</div>
	</footer>
</body>
</html>